name: everyhour-updatescrappers
on:
  schedule:
    - cron: '0 * * * 1-5'
jobs:
  cron:
    runs-on: ubuntu-latest
    steps:
      - name: Call our API route
        run: |
          curl --request POST \
          --url 'https://usdblue.vercel.app/api/actions/updateScrapped'
