name: 15hsarg-updateaverages
on:
  schedule:
    - cron: '0 18 * * 1-5'
jobs:
  cron:
    runs-on: ubuntu-latest
    steps:
      - name: Call our API route
        run: |
          curl --request POST \
          --url 'https://usdblue.vercel.app/api/actions/updateAverages' \
          --header 'Authorization: Bearer ${{ secrets.API_SECRET_KEY }}'
